@page
@model Avicola.Frontend.Pages.EditVarModel
@using Avicola.Dominio;
@{
}


<div align="center">
    <H3>DILIGENCIA LA INFORMACION DE LA NUEVA VARIABLE</H3>
  </div>
  <div class="container bg-light">
<form method="post">
  <div class="form-group row">
    <input type="hidden" asp-for="nuevaVar.Id"></input>
    <label  class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10"><input class="form-control" placeholder="Ingrese el nombre" asp-for="nuevaVar.Nombre">
    </div><span class="text-danger" asp-validation-for="nuevaVar.Nombre"></span>
  </div>
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">Tipo</label>
    <div class="col-sm-10"><select asp-for="nuevaVar.Tipo" asp-items="Html.GetEnumSelectList<Enum_TipoVariable>()" class="form-control">
    </select>
    </div>
  </div>
  
  
  
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>



</div>